h1 {
    color: rgb(252, 252, 252);
    animation: animate 1.4s linear infinite;
    font-size: 4em;
}

h2 span {
    color: #ecfa00;
    font-size: 1.5em;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}