html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: url(https://w7.pngwing.com/pngs/854/163/png-transparent-stage-music-nightclub-wraparound-stage-under-lights-purple-violet-lights.png) no-repeat;
  background-size: 100% 100%;
  color: white;
}